<% content_for :title, @game.name + ' twitter integration' -%>
<% content_for :section_title,  @game.name + ' .. twitter integration' -%>
<style>
#interval{overflow:auto;}
#interval span{float:left;width:150px;}
#interval input{float:left;width:50px;margin-right:83px;}
</style>

<% if @twitter.nil? -%>
  <p>Twitter integration lets you use twitter to post a message whenever a user gets a new high score.</p>
  <p>The feature is still being worked out and will be expanded.</p>
  <p>To proceed, you must grant mogade access to your twitter account.</p>
  <a href="<%= url_for(:controller => 'tweets', :action => 'access', :id => @game.id)%>" class="button">grant access</a>
<% else -%>
  <%= form_for :tweets, :url => {:action => :update} do |f| -%>
    <input type="hidden" name="id" value="<%=@twitter.id%>" />
    <input type="hidden" name="game_id" value="<%=@game.id%>" />
    <div class="field">
      <label for="leaderboard_id">leaderboard</label>
      <select name="leaderboard_id" id="leaderboard_id">
        <% @leaderboards.each do |leaderboard| -%>
        <option value="<%=leaderboard.id%>"<% if leaderboard.id == @twitter.leaderboard_id %> selected="selected"<% end %>><%=leaderboard.name%> (<%=leaderboard.id%>)</option>
        <% end -%>
      </select>
      <label for="leaderboard_id" class="tip">the leaderboard to monitor</label>
    </div>
    <div class="field" id="interval">
      <label>Interval</label>
      <span>Daily</span><span>Weekly</span><span>Overall</span>
      <input type="text" name="daily[interval]" maxlength="4" class="numeric" value="<%= @twitter.daily.nil? ? 0 : @twitter.daily.interval %>" />
      <input type="text" name="weekly[interval]" maxlength="4" class="numeric" value="<%= @twitter.weekly.nil? ? 0 : @twitter.weekly.interval %>"  />
      <input type="text" name="overall[interval]" maxlength="4" class="numeric" value="<%= @twitter.overall.nil? ? 0 : @twitter.overall.interval %>"  />
    </div>
    <div class="buttons">
      <input type="submit" class="button" value="save" />
      <a href="#" class="button" id="disable">disable</a>
    </div>
  <% end -%>
<% end -%>


<% content_for :right do -%>
  <%= render :partial => 'shared/menu'%>
  <h3>Tips</h3>
  <p>Currently only 1 leaderboard can be monitored</p>
  <p>The interval limits how frequently, in minutes, the system will tweet. Use 0/blank to disable tweets for the scope. <%= Twitter::MinimumInterval %> is the miminum allowed value (resulting in a theoretical maximum of 144 tweets per day!</p>
  <p>Use the <em>%user</em> and <em>%score%</em> placeholders to build your message</p>
  <p>Take care to build a short message. Consider 30 characters for a username (the maximum) + however long your scores are. 140 - 30 - score_length.
<% end -%>

<script>
$('#disable').on('click', function(){
  return do_delete('<%= url_for :action => 'destroy', :id => @game.id %>')
});
</script>