<% content_for :title, @game.name + ' twitter integration' -%>
<% content_for :section_title,  @game.name + ' .. twitter integration' -%>
<style>
#interval{overflow:auto;}
#interval span{float:left;width:150px;}
#interval input{float:left;width:50px;margin-right:83px;}
#message_list {margin-top:50px;}
</style>

<% if @twitter.nil? -%>
  <p>Twitter integration lets you use twitter to post a message whenever a user gets a new high score.</p>
  <p>The feature is still being worked out and will be expanded.</p>
  <p>To proceed, you must grant mogade access to your twitter account.</p>
  <a href="<%= url_for(:controller => 'tweets', :action => 'access', :id => @game.id)%>" class="button">grant access</a>
<% else -%>
  <%= form_for :tweets, :url => {:action => :update} do |f| -%>
    <input type="hidden" name="id" value="<%=@twitter.id%>" />
    <input type="hidden" name="game_id" value="<%=@game.id%>" />
    <div class="field">
      <label for="leaderboard_id">leaderboard</label>
      <select name="leaderboard_id" id="leaderboard_id">
        <% @leaderboards.each do |leaderboard| -%>
        <option value="<%=leaderboard.id%>"<% if leaderboard.id == @twitter.leaderboard_id %> selected="selected"<% end %>><%=leaderboard.name%> (<%=leaderboard.id%>)</option>
        <% end -%>
      </select>
      <label for="leaderboard_id" class="tip">the leaderboard to monitor</label>
    </div>
    <div class="field" id="interval">
      <label>Interval</label>
      <span>Daily</span><span>Weekly</span><span>Overall</span>
      <input type="text" name="daily[interval]" maxlength="4" class="numeric" value="<%= @twitter.daily.nil? ? 0 : @twitter.daily.interval %>" />
      <input type="text" name="weekly[interval]" maxlength="4" class="numeric" value="<%= @twitter.weekly.nil? ? 0 : @twitter.weekly.interval %>"  />
      <input type="text" name="overall[interval]" maxlength="4" class="numeric" value="<%= @twitter.overall.nil? ? 0 : @twitter.overall.interval %>"  />
    </div>
    <div class="buttons">
      <input type="submit" class="button" value="save" />
      <a href="#" class="button" id="disable">disable</a>
    </div>
  <% end -%>

  <div class="list" id="message_list">
    <table>
     <thead>
       <th>message</th>
       <th>scope</th>
       <th></th>
       <th></th>
     </thead>
     <tbody>
      <% {:daily => 1, :weekly => 2, :overall => 3}.each do |scope, value| %>
       <%= render :partial => 'message_row', :collection => @twitter.send(scope).messages, :locals => {:scope => scope, :scope_value => value}, :as => :message unless @twitter.send(scope).blank?-%>
      <% end %>
     </tbody>
    </table>
    <h3>You don't have any messages.</h3>
  </div>

  <%= form_for :TwitterData, :url => {:action => 'message' }, :html => {:id => 'add'} do |f| -%>
    <h3>Add Message</h3>
    <input type="hidden" name="id" value="<%=@twitter.id%>" />
    <input type="hidden" name="game_id" value="<%=@game.id%>" />
    <input type="hidden" name="index" id="index" />
    <div class="field">
      <label for="message">example</label>
      <input type="text" disabled="disabled" style="border:none;width:400px" value="%user% is now today's leader with a score of %score%" />
    </div>
    <div class="field">
      <label for="message">message</label>
      <textarea name="message" id="message" rows="2" cols="40" maxlength="140"></textarea>
    </div>
    <div class="field">
      <label for="type">scope</label>
      <%= enum_drop_down('scope', LeaderboardScope, LeaderboardScope::Daily, LeaderboardScope::Yesterday)%>
    </div>
    <div class="buttons">
      <%= f.submit 'add', {:class => 'button'} %>
    </div>
  <% end -%>
<script>
$('#disable').on('click', function(){
  return do_delete('<%= url_for :action => 'destroy', :id => @game.id %>')
});
$('#message_list').simpleList({})
  .editTo({ to: '#add', map: {0: 'message', 'data-scope': 'scope', 'data-index': 'index'}, url: '<%= url_for :action => 'update_message' %>' })
  .confirm('td.delete', 'Delete this message?', 'This message will be permanently deleted and cannot be recovered. Are you sure?', function($td){ return do_delete('/manage/tweets/remove?index=' + $td.closest('tr').data('index') + '&scope=' +  $td.closest('tr').data('scope') + '&game_id=<%=@game.id%>&id=<%=@twitter.id%>'); });
</script>
<% end -%>


<% content_for :right do -%>
  <%= render :partial => 'shared/menu'%>
  <h3>Tips</h3>
  <p>Currently only 1 leaderboard can be monitored</p>
  <p>The interval limits how frequently, in minutes, the system will tweet. Use 0/blank to disable tweets for the scope. <%= Twitter::MinimumInterval %> is the miminum allowed value (resulting in a theoretical maximum of 144 tweets per day!</p>
  <p>You can add up to <%= Twitter::TotalMessages %> messages, a random one will be selected from the appropriate scope.</p>
  <p>Use the <em>%user</em> and <em>%score%</em> placeholders to build your message</p>
  <p>Take care to build a short message. Consider 30 characters for a username (the maximum) + however long your scores are. 140 - 30 - score_length.
<% end -%>