<% content_for :title, @game.name + ' profile images' -%>
<% content_for :section_title,  @game.name + ' .. profile images' -%>
<% content_for :head do -%><%= include_js_bundle 'pi' %><% end -%>

<h2>Banner Image</h2>
<div id="bannerImage">
  <img src="<%= profile_image(@profile, 0)%>" class="uploadedImage"/>
  <div class="button uploadButton">upload</div>
</div>
<h2>Image Gallery</h2>
<div id="imageList">
<% 6.times do |i| -%>
  <div>
    <img src="<%= profile_image(@profile, i+1)%>" class="uploadedImage"/>
    <div class="button uploadButton">upload</div><div data-i="<%=i+1%>" class="button deleteButton"<% unless profile_has_image(@profile, i+1)%> style="display:none"<% end %>>X</div>
  </div>
<% end -%>
</div>

<script type="text/javascript">
var game_id = '<%=@game.id%>';
var profile_image_root = '<%= profile_image_root%>';
var max_image_length = <%=Settings.max_image_length%>;
</script>
<% content_for :right do -%>
  <%= render :partial => 'shared/menu', :locals => {:show_profile => true} %>
<% end -%>
