<% content_for :title, @game.name + ' score management' -%>
<% content_for :section_title,  @game.name + ' .. score management' -%>
<% content_for :js_include do%> <%= include_js_files 's' %>,<% end -%>

<% if @leaderboards.blank?%>
  <h3>You should probably add a leaderboard first<h3>
<% else -%>
  <h3>Find Scores to Delete</h3>
  <%= form_for :score, :url => {:action => 'find' }, :html => {:id => 'form'} do |f| -%>
    <input type="hidden" name="game_id" value="<%=@game.id%>" />
    <div class="field">
      <label for="id">leaderboard</label>
      <select name="id" id="id">
        <% @leaderboards.each do |leaderboard| -%>
        <option value="<%=leaderboard.id%>"><%=leaderboard.name%> (<%=leaderboard.id%>)</option>
        <% end -%>
      </select>
    </div>
    <div class="field">
      <label for="scope">scope</label>
      <%= enum_drop_down('scope', LeaderboardScope, nil, LeaderboardScope::Yesterday) %>
    </div>
    <div class="field">
      <label for="username">username</label>
      <input id="username" name="username" type="text" />
    </div>
    <div class="buttons">
      <%= f.submit 'find', {:class => 'button'} %>
    </div>
  <% end -%>
  
  <%= form_for :score, :url => {:action => 'destroy' }, :html => {:id => 'scores', 'class' => 'list'} do |f| -%>
    <input type="hidden" name="game_id" value="<%=@game.id%>" />
    <input type="hidden" name="id" />
    <input type="hidden" name="scope" />
    <table>
      <thead>
        <tr>
          <th><input type="checkbox" id="toggleAll" /></th>
          <th>username</th>
          <th>points</th>
          <th>data</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <input type="button" value="delete" class="button" id="delete" />
  <% end -%>
  
  <% if @game.id.to_s == "4d63b0f89ae3e77998000099" %>
  <div style="margin-top:200px">
    <a href="/manage/scores/wipe/<%= @game.id.to_s %>" class="button">wipe all leaderboards</a>
  </div>
  <% end %>
<% end -%>


<% content_for :right do -%>
  <%= render :partial => 'shared/menu', :locals => {:show_leaderboad => true} %>
  <h3>Scores</h3>
  <p>Use this page to remove scores from your leaderboards</p>
  <p>This can be useful while developing, but also to remove suspicious scores.</p>
  <p>Do be careful, once you've confirmed, the scores are zapped out of existence</p>
<% end -%>