<ul class="menu">
  <li><a href="<%= url_for(:controller => 'games', :action => 'index') %>">game list</a></li>
  <li><a href="<%= ssl_url(url_for(:controller => 'games', :action => 'show', :id => @game.id))%>">overview</a></li>
  <li><a href="<%= url_for(:controller => 'leaderboards', :action => 'index', :id => @game.id)%>">leaderboards</a>
    <% if defined? show_leaderboad && false -%>
    <!--<ul><li><a href="<%= url_for :controller => 'scores', :action => 'index', :id => @game.id %>">delete scores</a></li></ul>-->
    <% end -%>
  </li>
  <li><a href="<%= url_for(:controller => 'achievements', :action => 'index', :id => @game.id)%>">achievements</a>
  <li><a href="<%= url_for(:controller => 'facebook', :action => 'index', :id => @game.id)%>">facebook pages</a></li>
  <li><a href="<%= url_for(:controller => 'stats', :action => 'index', :id => @game.id)%>">usage statistics</a></li>
  <li><a href="<%= url_for(:controller => 'errors', :action => 'index', :id => @game.id)%>">logged errors</a></li>
</ul>