<% content_for :title, 'manage ' + @game.name -%>
<% content_for :section_title, @game.name + ' .. overview' -%>

<div id="editable">
  <div class="info">
    <h4>name</h4>
    <div data-edit-id="0"><%= @game.name %></div>
  </div>
  <div class="info">
    <h4>key</h4>
    <div><%= @game.id %></div>
  </div>
  <div class="info">
    <h4>secret</h4>
    <div><%= @game.secret %></div>
  </div>
  <div style="margin-top:40px"> <!-- that's right-->
    <a href="#" class="button" id="edit">edit</a>
    <a href="#" class="button" id="delete">delete</a>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function()
{
  $('#delete').confirm('Delete this game?', 'This game will be permanently deleted and cannot be recovered. Are you sure?', function()
  {
    return do_delete('<%= url_for :action => 'destroy', :id => @game.id %>')
  });
  $('#edit').inlineEdit({ types: ['text'], names: ['name'], saveUrl: '<%= url_for :action => 'update' %>', saved: function()
  {
    $.message.info('you game\'s information has been updated');
    $('h1').text($('div[data-edit-id=0]').text() + ' .. overview');
  }});
  
});
</script>

<% content_for :right do -%>
  <%= render :partial => 'shared/menu' %>
<% end -%>