<tr data-id="<%=asset.id%>" data-meta="<%= asset.meta %>">
  <td><%= asset.name %></td>
  <td><%= asset.id %></td>
  <td><%= asset.type %></td>
  <td class="edit"></td>
  <td class="delete"></td>
</tr>