<% content_for :title, @game.name + ' achievements' -%>
<% content_for :section_title,  @game.name + ' .. achievements' -%>


<div class="list" id="achievement_list">
  <table>
    <thead>
      <th>name</th>
      <th>points</th>
      <th>key</th>
      <th></th>
      <th></th>
    </thead>
    <tbody class="list">
    <%= render :partial => 'achievement_row', :collection => @achievements, :as => :achievement unless @achievements.blank?-%>
   </tbody>
  </table>
  <h3>Uhmm...are you an underachiever?</h3>
</div>


<%= form_for :achievement, :url => {:action => 'create' }, :html => {:id => 'add'} do |f| -%>
  <h3>Add Achievement</h3>
  <input type="hidden" name="game_id" value="<%=@game.id%>" />
  <div class="field">
    <label for="name" class="in">name</label>
    <input type="text" name="name" id="name" />
  </div>
  <div class="field">
    <label for="desc" class="in">description</label>
    <input type="text" name="description" id="description" maxlength="175" />
  </div>
  <div class="field">
    <label for="points" class="in">points</label>
    <input type="text" name="points" id="points" class="numeric" maxlength="3" />
  </div>
  <div class="buttons">
    <%= f.submit 'add', {:class => 'button'} %>
  </div>
<% end -%>


<script type="text/javascript">
$(document).ready(function()
{
  $('#achievement_list').simpleList({})
    .editTo({ to: '#add', map: {0: 'name', 1: 'points', 'data-desc': 'description'}, url: '<%= url_for :action => 'create' %>' })
    .find('td.delete').confirm('Delete this achievement?', 'This achievement will be permanently deleted and cannot be recovered. Are you sure?', function($td){ return do_delete('/manage/achievements/' + $td.closest('tr').data('id') + '?game_id=<%=@game.id%>'); });
  var rules = <%= validation_of(Achievement).html_safe%>;	
  $('#add').validator({rules: rules});

});
</script>

<% content_for :right do -%>
  <%= render :partial => 'shared/menu' %>
  <h3>Tips</h3>
  <p>An individually achievement can't be worth more than 500 points</p>
  <p>An achievement's name is limited to 50 characters. Pick something catchy like <em>Speed Master</em></p>
  <p>An achievement's description is limited to 175 characters. Try to explain how the achievement is unlocked, like <em>Finish level 4 within 2 minutes</em></p>
<% end -%>
