<% content_for :title, @game.name + ' profile' -%>
<% content_for :section_title,  @game.name + ' .. profile' -%>

<h2>General Information</h2>
<%= form_for :profiles, :url => {:action => 'create', :id => @profile.id}, :html => {:id => 'information'} do |f| %>	
  <input type="hidden" name="game_id" value="<%=@game.id%>" />
  <div class="field">
    <label for="enabled">enabled</label>
    <input type="checkbox" id="enabled" name="enabled" value="1" class="cb" <%= @profile.enabled ? 'checked="checked"' : ''%> />
    <label for="enabled" class="tip">enable the game's profile?</label>
  </div>
  <div class="field">
    <label for="name">name</label>
    <input type="text" id="name" name="name" maxlength="25" value="<%=@profile.name%>" />
    <label for="name" class="tip">game's name</label>
  </div>
  <div class="field">
    <label for="leaderboard_id">leaderboard</label>
    <select name="leaderboard_id" id="leaderboard_id">
      <% @leaderboards.each do |leaderboard| -%>
      <option value="<%=leaderboard.id%>"<% if leaderboard.id == @profile.leaderboard_id%> selected="selected"<% end %>><%=leaderboard.name%> (<%=leaderboard.id%>)</option>
      <% end -%>
    </select>
    <label for="leaderboard_id" class="tip">the primary leaderboard to show</label>
  </div>
  <div class="field">
    <label for="description">description</label>
    <span class="charCounter"></span>
    <textarea name="description" id="description" rows="10" cols="40"><%=@profile.description%></textarea>
  </div>
  <div class="buttons">
    <input type="submit" class="button" value="save" />
  </div>
<% end -%>

<% content_for :js do -%>
$('#description').textAreaLength(500);
$('#information').validator({rules: <%= validation_of(Profile).html_safe%>})
<% end -%>
<% content_for :right do -%>
  <%= render :partial => 'shared/menu', :locals => {:show_profile => true} %>
<% end -%>
