<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-US" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>mogade <%= yield :title %></title>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" %>
  <%= include_css_bundle 'main' %>
  <%= include_js_bundle 'h' %>
  <%= yield :head -%>
</head>
<body>
<% unless Rails.env == 'production' %><div id="environment"><%= Rails.env %></div><% end -%>
<div id="site">
  <div id="header">
    <a href="/"><%=image_tag('logo.png', {:size => '153x33', :alt=>'mogade'})%></a>
    <div id="menu">
      <a href="/">home</a>
      <% if @current_developer == nil -%>
        <a href="<%= ssl_url('/manage/sessions/new')%>">login</a>
        <a href="<%= ssl_url('/manage/accounts/new')%>">register</a>
      <% else -%>
        <a href="<%= ssl_url('/manage/games/')%>">games</a>
        <a href="<%= ssl_url('/manage/sessions/logout')%>">logout</a>
      <% end -%>
      <a href="http://groups.google.com/group/mogadedev">help</a>
    </div>
  </div>
  <%= yield :content %>
  <div id="footer" class="r">       
    <a href="http://twitter.com/mogade">@mogade</a><span class="sep">&bull;</span>
    <a href="/manage/drivers">platform libraries</a><span class="sep">&bull;</span>
    <a href="http://github.com/mogade">source code</a><span class="sep">&bull;</span>
    <a href="/manage/tos">terms of use</a>
  </div>
</div>
<script>
head.js("//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", <% if content_for?(:js_include) %><%=yield :js_include%>,<% end %> function(){<%= yield :js%>});
</script>
</body>
</html>
