<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-US" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'facebook' %>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/v1/jquery.purdySelect.js"></script>
  <script type="text/javascript" src="/js/v1/jquery.leaderboard.js"></script>
  <script type="text/javascript" src="/js/v1/jquery.topScores.js"></script>
  <%= javascript_include_tag 'facebook' %>
</head>
<body>
<% unless Rails.env == 'production' %><div id="environment"><%= Rails.env %></div><% end -%>
<div id="site"><%= yield %></div>
<% if content_for?(:js) %>
<script>
<%= yield(:js) %>
</script>
<% end %>
</body>
</html>