<% content_for :head do -%>
  <%= include_css_bundle 'manage' %>
  <%= include_js_bundle 'manage' %>
<% end -%>
<% content_for :content do -%>
<h1><%= yield :section_title %></h1>
<% unless flash[:error].nil? %><div id="error"><%=flash[:error]%></div><% end %>

<%= yield :inner %>

<% end -%>
<%= render :file => 'layouts/application' %>