<tr>
	<td><%= error.subject %></td>
	<td><%= error.dated.strftime("%h %d %H:%M") %></td>
	<td><%= error.dated.strftime("%h %d %H:%M") %></td>
	<td><%= error.count %></td>
</tr>
<tr>
	<td colspan="4"><%= error.details %></td>
</tr>