<tr data-id="<%=error.id%>">
  <td><%= error.subject %></td>
  <td><%= error.dated.strftime("%h %d %H:%M") %></td>
  <td><%= error.updated.strftime("%h %d %H:%M") %></td>
  <td><%= error.count %></td>
  <td class="delete"></td>
</tr>
<tr>
  <td colspan="5"><%= simple_format(error.details) %></td>
</tr>